a,
article,
b,
big,
body,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
li,
nav,
q,
s,
section,
span,
time,
u,
ul,
video {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
:focus {
	outline: 0;
}
article,
footer,
header,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
q {
	quotes: none;
}
q:after,
q:before {
	content: '';
	content: none;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type='search'] {
	-webkit-appearance: none;
	-moz-appearance: none;
}
video {
	display: inline-block;
	max-width: 100%;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:active,
a:hover {
	outline: 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
form {
	margin: 0;
}
button,
input {
	margin: 0;
	font-size: 100%;
	vertical-align: baseline;
}
button,
input {
	line-height: normal;
}
button {
	text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button,
html,
input {
	color: #222;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
img {
	vertical-align: middle;
}
body {
	font-family: Helvetica Neue, Arial, sans-serif;
	background: #c5cfd4;
}
a {
	text-decoration: none;
	color: inherit;
}
a,
a:hover {
	-webkit-tap-highlight-color: transparent;
}
.news-app {
	background: #eceef2;
	min-width: 948px;
}
.news-app__content {
	display: flex;
	flex-direction: column;
	width: 1624px;
	min-height: calc(100vh - 142px);
	margin-top: 105px;
}
@media (max-width: 1699px) {
	.news-app__content {
		width: 1544px;
	}
}
@media (max-width: 1599px) {
	.news-app__content {
		width: 1304px;
	}
}
@media (max-width: 1365px) {
	.news-app__content {
		width: 1224px;
	}
}
@media (max-width: 1259px) {
	.news-app__content {
		width: 916px;
	}
}
@media (min-width: 1600px) and (max-width: 1748px) {
	.news-app__content {
		margin-right: auto;
		margin-left: auto;
	}
}
@media (min-width: 1366px) and (max-width: 1430px) {
	.news-app__content {
		margin-right: auto;
		margin-left: auto;
	}
}
@media (min-width: 1260px) and (max-width: 1350px) {
	.news-app__content {
		margin-right: auto;
		margin-left: auto;
	}
}
@media (max-width: 1042px) {
	.news-app__content {
		margin-right: auto;
		margin-left: auto;
	}
}
.news-app__footer {
	margin-top: 24px;
}
.mg-footer__item {
	font-size: 14px;
	line-height: 18px;
	color: #939cb0;
}
.mg-footer {
	box-sizing: border-box;
	padding: 16px 16px 20px;
	border-top: 1px solid rgba(147, 156, 176, 0.3);
}
@media (min-width: 1260px) {
	.mg-footer:after {
		clear: both;
		content: '';
	}
}
.mg-footer__item {
	margin-top: 8px;
	margin-right: 16px;
}
.mg-footer__item:active,
.mg-footer__item:focus,
.mg-footer__item:hover {
	color: #222426;
}
.mg-grid__row {
	display: flex;
	flex-wrap: wrap;
}
.mg-grid__col {
	box-sizing: border-box;
	max-width: 100%;
}
.mg-grid__item {
	border-radius: 12px;
	background: #fff;
}
.mg-grid__item_type_card {
	height: 370px;
}
@media (max-width: 1699px) {
	.mg-grid__item_type_card {
		height: 360px;
	}
}
@media (max-width: 1599px) {
	.mg-grid__item_type_card {
		height: 322px;
	}
}
@media (max-width: 1365px) {
	.mg-grid__item_type_card {
		height: 312px;
	}
}
.mg-grid__col_xs_0 {
	display: none;
}
.mg-grid__col_xs_1 {
	display: block;
	flex: 0 0 8.33333%;
	max-width: 8.33333%;
}
.mg-grid__col_xs_2 {
	display: block;
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
}
.mg-grid__col_xs_3 {
	display: block;
	flex: 0 0 25%;
	max-width: 25%;
}
.mg-grid__col_xs_4 {
	display: block;
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}
.mg-grid__col_xs_5 {
	display: block;
	flex: 0 0 41.66667%;
	max-width: 41.66667%;
}
.mg-grid__col_xs_6 {
	display: block;
	flex: 0 0 50%;
	max-width: 50%;
}
.mg-grid__col_xs_7 {
	display: block;
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
}
.mg-grid__col_xs_8 {
	display: block;
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
}
.mg-grid__col_xs_9 {
	display: block;
	flex: 0 0 75%;
	max-width: 75%;
}
.mg-grid__col_xs_10 {
	display: block;
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}
.mg-grid__col_xs_11 {
	display: block;
	flex: 0 0 91.66667%;
	max-width: 91.66667%;
}
.mg-grid__col_xs_12 {
	display: block;
	flex: 0 0 100%;
	max-width: 100%;
}
@media (min-width: 1260px) {
	.mg-grid__col_sm_0 {
		display: none;
	}
	.mg-grid__col_sm_1 {
		display: block;
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}
	.mg-grid__col_sm_2 {
		display: block;
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}
	.mg-grid__col_sm_3 {
		display: block;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.mg-grid__col_sm_4 {
		display: block;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.mg-grid__col_sm_5 {
		display: block;
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}
	.mg-grid__col_sm_6 {
		display: block;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.mg-grid__col_sm_7 {
		display: block;
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}
	.mg-grid__col_sm_8 {
		display: block;
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}
	.mg-grid__col_sm_9 {
		display: block;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.mg-grid__col_sm_10 {
		display: block;
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
	.mg-grid__col_sm_11 {
		display: block;
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}
	.mg-grid__col_sm_12 {
		display: block;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.mg-grid__row_gap_4 > .mg-grid__col {
	padding: 2px;
}
.mg-grid__row_gap_4 {
	margin: -2px;
}
.mg-grid__row_gap_8 > .mg-grid__col {
	padding: 4px;
}
.mg-grid__row_gap_8 {
	margin: -4px;
}
.mg-grid__row_gap_12 > .mg-grid__col {
	padding: 6px;
}
.mg-grid__row_gap_12 {
	margin: -6px;
}
.mg-grid__row_gap_16 > .mg-grid__col {
	padding: 8px;
}
.mg-grid__row_gap_16 {
	margin: -8px;
}
.mg-card_half {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 16px 16px 12px;
}
.mg-card_half .mg-card__title {
	z-index: 3;
	font-weight: 700;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 4;
	max-height: 4.88889em;
	font-size: 18px;
	line-height: 1.22222em;
}
@media (max-width: 1599px) {
	.mg-card_half .mg-card__title {
		-webkit-line-clamp: 4;
		max-height: 5em;
		font-size: 16px;
		line-height: 1.25em;
	}
}
.mg-card_half .mg-card__media {
	min-width: 104px;
	height: 116px;
	padding-left: 8px;
}
@media (max-width: 1599px) {
	.mg-card_half .mg-card__media {
		min-width: 88px;
		height: 96px;
	}
}
.mg-card_half .mg-card__content {
	display: flex;
	width: 100%;
}
.mg-card_half .mg-card__link {
	width: 100%;
}
.mg-card_half .mg-card__footer {
	position: relative;
	z-index: 3;
	margin-top: auto;
}
.mg-card_half .mg-card__annotation {
	margin-top: 6px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 2;
	max-height: 2.5em;
	font-size: 16px;
	line-height: 1.25em;
}
.mg-card_half .mg-card__text-content {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 116px;
}
@media (max-width: 1599px) {
	.mg-card_half .mg-card__text-content {
		max-height: 96px;
	}
}
.mg-card__media-block {
	position: relative;
}
.mg-card__media-block_type_image:after,
.mg-card__media-block_type_video:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	pointer-events: none;
}
.mg-card__media-block_type_image:after {
	background: rgba(18, 27, 73, 0.05);
}
.mg-card__media-block_type_video:after {
	background: rgba(18, 27, 73, 0.1);
}
.mg-card__link {
	transition: color 0.1s ease-out;
}
.mg-card__link:hover {
	color: #d00;
}
.mg-card__link:before {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}
.mg-card__media-block_type_image {
	z-index: 1;
}
.mg-card.mg-card_flexible-half {
	position: relative;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	padding: 16px 16px 12px;
}
.mg-card.mg-card_flexible-half,
.mg-card.mg-card_flexible-half * {
	box-sizing: border-box;
}
.mg-card.mg-card_flexible-half .mg-card__content {
	display: flex;
	flex: auto;
}
.mg-card.mg-card_flexible-half .mg-card__text-content {
	overflow: hidden;
	max-height: 154px;
}
@media (max-width: 1599px) {
	.mg-card.mg-card_flexible-half .mg-card__text-content {
		max-height: 140px;
	}
}
.mg-card.mg-card_flexible-half .mg-card__text {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 60px;
	max-height: 176px;
}
@media (max-width: 1599px) {
	.mg-card.mg-card_flexible-half .mg-card__text {
		max-height: 140px;
	}
}
.mg-card.mg-card_flexible-half .mg-card__link {
	width: 100%;
}
.mg-card.mg-card_flexible-half .mg-card__title {
	z-index: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
	overflow: hidden;
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}
@media (max-width: 1599px) {
	.mg-card.mg-card_flexible-half .mg-card__title {
		font-size: 16px;
		line-height: 20px;
	}
}
.mg-card.mg-card_flexible-half .mg-card__annotation {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	-webkit-line-clamp: 3;
	overflow: hidden;
	flex: auto;
	max-height: 54px;
	margin-top: 6px;
	font-size: 14px;
	line-height: 18px;
}
.mg-card.mg-card_flexible-half .mg-card__media {
	flex-shrink: 0;
	min-width: 104px;
	max-width: 104px;
	height: 116px;
	margin-left: 8px;
}
@media (max-width: 1599px) {
	.mg-card.mg-card_flexible-half .mg-card__media {
		min-width: 88px;
		max-width: 88px;
		height: 96px;
	}
}
.mg-card.mg-card_flexible-half .mg-card__footer {
	position: relative;
	z-index: 3;
	margin-top: 12px;
}
.mg-card-footer {
	display: flex;
	justify-content: space-between;
}
.mg-card-footer__left {
	display: flex;
	overflow: hidden;
	padding-right: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mg-card-footer__right {
	display: flex;
	flex-shrink: 0;
}
.mg-card-source {
	display: flex;
	max-width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #939cb0;
}
.mg-card-source__source {
	overflow: hidden;
	margin-right: 6px;
	text-overflow: ellipsis;
}
.mg-card-source__time {
	margin-left: 6px;
}
.mg-media-block {
	overflow: hidden;
	border-radius: 8px;
}
.mg-media-block,
.mg-media-block__image {
	position: relative;
}
.mg-media-block__image .neo-image {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
.mg-media-block__image .neo-image_loaded {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}
.mg-media-block__video {
	position: relative;
}
.mg-media-block__video .mg-video__container {
	position: absolute;
	width: 100%;
	height: 100%;
}
.mg-media-block__image-source {
	position: absolute;
	right: 12px;
	bottom: 8px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.mg-media-block_square,
.mg-media-block_square .mg-media-block__image,
.mg-media-block_square .mg-media-block__video {
	height: 100%;
}
.mg-video-preview {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: no-repeat 50% / cover;
}
.news-top-flexible-stories .mg-grid__col {
	display: flex;
	flex-direction: column;
}
.news-top-rubric-flexible-stories .mg-grid__row {
	flex: 1 0 auto;
}
.news-top-rubric-flexible-stories .mg-grid__col {
	display: flex;
	flex-direction: column;
}
.Button2 {
	cursor: pointer;
}
.Button2[aria-disabled='true'] {
	cursor: default;
}
.Button2-Text {
	resize: none;
	pointer-events: none;
}
.Button2,
.Button2-Text {
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
.Button2 {
	overflow: visible;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-moz-user-focus: ignore;
	user-select: none;
	text-align: center;
	text-decoration: none;
	border-width: 0;
	outline: 0;
	background: 0 0;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.Button2[aria-disabled='true'] {
	pointer-events: none;
}
.Button2::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.Button2:before {
	border-radius: 4px;
}
.Button2:after,
.Button2:before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}
.Button2:after {
	transform: scale(0);
}
.news-top-rubric-heading {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}
@media (max-width: 1599px) {
	.news-top-rubric-heading {
		font-size: 20px;
		line-height: 24px;
	}
}
.news-top-rubric-heading__title {
	white-space: nowrap;
}
@-webkit-keyframes loading {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.3;
	}
	to {
		opacity: 0.1;
	}
}
@keyframes loading {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.3;
	}
	to {
		opacity: 0.1;
	}
}
.Button2.mg-button {
	display: inline-block;
	box-sizing: border-box;
	padding: 12px 16px;
	-webkit-tap-highlight-color: transparent;
	font-weight: 500;
	text-align: center;
}
.Button2.mg-button,
.Button2.mg-button:active,
.Button2.mg-button:focus {
	border: none;
	outline: 0;
	background: 0 0;
}
.news-app__heading {
	margin: 16px 0 12px 16px;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	box-shadow: 0 0 13px 4px #c5c7c7;
	background: #fff;
}
.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	padding: 16px 0 13px;
}
.topheader {
	display: flex;
	align-items: center;
}
.topheader__logo {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 20px;
}
.topheader__searchform {
	width: 50%;
}
.searchform__form {
	width: 100%;
	display: flex;
}
.searchform__form input {
	border: 2px solid #fc0;
	padding: 10px;
	width: 80%;
}
.searchform__form button {
	background: #fc0;
	border: none;
	color: #000;
	padding: 0 25px 0 30px;
	position: relative;
}
.searchform__form button:before {
	top: 0;
	right: -10px;
	border-width: 20px 0 22px 10px;
}
.searchform__form button:before {
	position: absolute;
	width: 0;
	height: 0;
	content: '';
	color: #fc0;
	border-style: solid;
	border-color: rgb(195 166 50 / 0%);
	border-left-color: inherit;
	-o-transform: rotate(360deg);
}
.topmenu__navmenu ul {
	display: flex;
}
.topmenu__navmenu ul li {
	margin-right: 20px;
	padding: 20px 0 0;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	white-space: nowrap;
	color: #6f6d6d;
	position: relative;
}
.topmenu__navmenu ul li a:hover {
	color: #000;
}


.topmenu__navmenu ul li:hover:after, .topmenu__navmenu ul li.active:after {
	position: absolute;
	bottom: -13px;
	left: 0;
	display: block;
	width: 100%;
	content: '';
	border-top: 3px solid #000;
}
